# --------------------------

# REFERENCE
# https://www.gitignore.io

# --------------------------
# OS FILES

# osx
._*
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.dropbox

# windows
Thumbs.db
Desktop.ini
ehthumbs.db
ehthumbs_vista.db
*.lnk
*.cab
*.msi
*.msm
*.msp

# --------------------------
# LOGS, CACHE, BACKUP

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# vim swp files
.*.sw[a-p]

# python
__pycache__

# ruby
.rvmrc
.ruby-version
.ruby-gemset

# logs
logs
*.log
npm-debug.log*

# runtime data
pids
*.pid
*.seed

# remove ENV
.env

# optional npm cache directory
.npm

# optional REPL history
.node_repl_history

# grunt intermediate storage
.grunt

# nyc test coverage
.nyc_output

# node-waf configuration
.lock-wscript

# --------------------------
# DEPENDENCIES

# nodejs
node_modules

# --------------------------
# PROJECT

*.cache
.next/
.build/
.json/
out/
public/

# --------------------------